<div class="taskDetails">
    
    <p>Display event : {{displayEvent | json}}</p>


    
    <!-- <div>
        <button (click)="loadTask()">Load profile</button>
    </div>


    <div *ngFor="let item of items">
        <div>{{item.title}}</div>
    </div> -->

</div>
<div class="myCalender">
    <div *ngIf="calendarOptions">
        <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
            (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
    </div>
</div>